name: Generate PDF

on:
  release:
    types: [published]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Change absolute paths to relative
        run: perl -pi -e 's@\]\(\/@\]\(@' _sidebar.md
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: Install converter + uploadergit
        run: npm install docsify-pdf-converter @iomeg/zenodo-upload
      - name: Generate PDF
        run: npx docsify-pdf-converter
      - name: Upload PDF to Zenodo
        run: npx --package @iomeg/zenodo-upload zenodo_upload 4020565 guide-nlesc.pdf "${github_ref:10}" ${{ secrets.ZENODO_TOKEN }}
        env:
          github_ref: ${{ github.ref }}